<!DOCTYPE html>
<html>
<head>
    <title>RentLogic</title>
</head>
<body style="font-family: Tahoma; text-align:center; padding:50px;">

    <h1>Welcome to RentLogic</h1>
    <p>Your Property Management Platform</p>

    <br>

    <a href="/admin/">
        <button style="
            padding:15px 30px;
            font-size:18px;
            background-color:gold;
            border:3px solid white;
            cursor:pointer;
        ">
            Admin Portal
        </button>
    </a>

</body>
</html>